<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Lista de compras</title>
</head>
<body>

	<h1>Gestor de Compras</h1>


	<p>Opções do gestor:
	<form action="#" th:action="@{/lista}" method="get">
		<p>
			Criar Nova Lista: <input type="submit" value="Nova Lista" />
	</form>


	<form action="#" th:action="@{/lista}" th:object="${lista}" method="get">
		<p>
			Visualizar Listas: <input type="submit" value="Consultar" />
	</form>

</body>
</html>